<StackLayout height="100%">
    <StackLayout height="10%">
        <Label text="{{estadosNames[selectedEstado]}} &#xea5b;" (tap)="modalChoseEstado.show()" class="filtro fa"></Label>
    </StackLayout>
    <StackLayout height="90%">
        <ScrollView height="100%">
            <ListView [items]="events" (itemTap)="tapInEvent($event)">
                <ng-template let-item="item">
                    <StackLayout class="contenedor">
                        <DockLayout width="100%" height="100%"stretchLastChild="true">
                            <StackLayout class="textos" width="60%" dock="left">
                                <Label [text]="item.titulo" class="titulo"></Label>
                                <Label [text]="item.estado.descripcion" class="estado"></Label>
                            </StackLayout>
                            <StackLayout orientation="horizontal" class="iconos" dock="right">
                                <Label text="&#xe90b;" (tap)="aceptarCita(item.idEvento)" class="fa aceptar ico" *ngIf="item.estado.codigo == 'PA' && userLoged.tipoUsuario == 'empresa' && userLoged.idUserEmprea == item.userEmpresa.idUserEmprea"></Label>
                                <Label text="&#xe90c;" (tap)="cancelarCita(item.idEvento)" class="fa eliminar ico" *ngIf="item.estado.codigo == 'PA' || item.estado.codigo == 'A' || item.estado.codigo == 'EP'"></Label>
                            </StackLayout>
                        </DockLayout>
                    </StackLayout>
                </ng-template>
            </ListView>
        </ScrollView>
    </StackLayout>
</StackLayout>

<StackLayout style.zIndex="999" #modalChoseEstado modal size="md" alignment="middle" dismissable="true" duration="100">
    <StackLayout borderRadius="10" rows="*, auto" class="p-t-15 bg-white">

        <DropDown
            [items]="estadosNames"
            [(ngModel)]="selectedEstado"
            class="dropDown"
        ></DropDown>

        <WrapLayout class="m-y-2 m-r-15 pull-right">
            <Label (tap)="buscarEventos(); modalChoseEstado.hide()" text="Aceptar" class="m-y-10 p-10 text-cancel"></Label>
        </WrapLayout>
    </StackLayout>
</StackLayout>

<StackLayout style.zIndex="999" #modalCancelarCita modal size="md" alignment="middle" dismissable="true" duration="100">
    <StackLayout borderRadius="10" rows="*, auto" class="p-t-15 bg-white">

        <TextView height="auto" [(ngModel)]="motivoCancelacion" hint="Motivo de cancelación" returnKeyType="send" class="form-input"></TextView>
        <Button (touch)="onFocus($event)" text="Cancelar cita" class="tipo-user-button add-button" (tap)="confirmacionCancelarCita()"></Button>

        <WrapLayout class="m-y-2 m-r-15 pull-right">
            <Label (tap)="modalCancelarCita.hide()" text="Cancel" class="m-y-10 p-10 text-cancel"></Label>
        </WrapLayout>
    </StackLayout>
</StackLayout>

<StackLayout style.zIndex="999" #modalDuracion modal size="md" alignment="middle" dismissable="true" duration="100">
    <StackLayout borderRadius="10" rows="*, auto" class="p-t-15 bg-white">

        <Label [text]="'Minutos : ' + time" class="etiqueta-modal"></Label>

        <GridLayout class="m-15" rows="auto" columns="50 * 50">
            <Label text="10" row="0" col="0"></Label>
            <Slider minValue="10" [maxValue]="maxTime" [(ngModel)]="time" row="0" col="1"></Slider>
            <Label [text]="maxTime" row="0" col="2"></Label>
        </GridLayout>
        <Button (touch)="onFocus($event)" text="Confirmar cita" class="tipo-user-button add-button" (tap)="confirmacionCita()"></Button>

        <WrapLayout class="m-y-2 m-r-15 pull-right">
            <Label (tap)="modalDuracion.hide()" text="Cancel" class="m-y-10 p-10 text-cancel"></Label>
        </WrapLayout>
    </StackLayout>
</StackLayout>