<ActionBar title="Tu evento">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout>
    <ScrollView height="80%">
        <StackLayout>
            <StackLayout orientation="horizontal" class="cabecera" *ngIf="evento.userEmpresa.idUser">
                <StackLayout>
                    <label [text]="evento.userEmpresa.nombre + ' ' + evento.userEmpresa.apellidos"></label>
                    <label class="categoria" [text]="evento.userEmpresa.category.nombre"></label>
                </StackLayout>
                <GridLayout width="40%" rows="auto" columns="*">
                    <ActivityIndicator
                        class="activity-indicator"
                        row="0"
                        col="0"
                        busy="true"
                        width="50"
                        height="50"
                        class="activity-indicator"
                    ></ActivityIndicator>
                    <Image class="profilePicture" [src]="evento.userEmpresa.foto" stretch="aspectFit"></Image>
                </GridLayout>
            </StackLayout>
                <StackLayout>
                    <TextField hint="Titulo" [(ngModel)]="evento.titulo" class="form-input"></TextField>
                    <TextView height="auto" [(ngModel)]="evento.descripcion" hint="Descripción" returnKeyType="send" class="form-input"></TextView>
                    
                    <StackLayout *ngIf="evento.userEmpresa.direccionFija != 0">
                        <TextField hint="Dirección" [(ngModel)]="evento.location" class="form-input"></TextField>
                    </StackLayout>
                    <StackLayout *ngIf="evento.userEmpresa.direccionFija == 0" class="field">
                        <Label [text]="evento.location"></Label>
                    </StackLayout>
                    
                    <StackLayout orientation="horizontal" class="field">
                        <Label text="Fecha" class="etiqueta derecha"></Label>
                        <Label [text]="(evento.fecha | date)" class="etiqueta izquierda"></Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal" class="field">
                        <Label text="Inicia" class="etiqueta derecha"></Label>
                        <Label [text]="evento.periodo.empiezaHora + ':' + evento.periodo.empiezaMinuto" class="etiqueta izquierda"></Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal" class="field">
                        <Label text="Acaba" class="etiqueta derecha"></Label>
                        <Label [text]="evento.periodo.acabaHora + ':' + evento.periodo.acabaMinuto" class="etiqueta izquierda"></Label>
                    </StackLayout>
                </StackLayout>
        </StackLayout>
    </ScrollView>
    <StackLayout>
        <Button (touch)="onFocus($event)" text="Actualizar evento" (tap)="updateEvent()" class="form-button"></Button>
    </StackLayout>
</StackLayout>