<!--<StackLayout height="100%" width="100%">
    <StackLayout height="10%">
            <TextField hint="pruebaaaaa"></TextField>        
    </StackLayout>
<StackLayout height="90%">
-->
        <ContentView height="100%" width="100%">
        <Mapbox #map
            accessToken="pk.eyJ1IjoieGFpY2Fzc2lzdGFudCIsImEiOiJjandhdDR1ZTIwY2VtNDN0N21venc1aXFsIn0.cBgDtWMKuPQyW6oZ_X5qtA"
            mapStyle="streets"
            hideLogo="true"
            zoomLevel="5"
            (mapReady)="onMapReady($event)">
        </Mapbox>
    </ContentView>  
    <!--  
</StackLayout>
</StackLayout>
-->