<StackLayout>
	<StackLayout orientation="horizontal" width="100%" height="10%">
		<btn_menu-opener></btn_menu-opener>
			<label [text]="modoVista ? '&#xe901;' : '&#xe902;'" (tap)=" modoVista = !modoVista" class="fa tipoVista"></label>	
	</StackLayout>
	
	<RadCalendar
	[eventSource]="calendarEvents" 
	
	eventsViewMode="Inline" 
	selectionMode="Single" 
	[viewMode]="modoVista ? 'Day' : 'Month'" 
	transitionMode="Stack"
	locale="es-ES" 
	
	(dateSelected)="onDateSelected($event)" 
	(dateDeselected)="onDateDeselected($event)" 
	(navigatedToDate)="onNavigatedToDate($event)" 
	(navigatingToDateStarted)="onNavigatingToDateStarted($event)"
	(viewModeChanged)="onViewModeChanged($event)"
	(inlineEventSelected)="selectedEvent($event)"
></RadCalendar>
</StackLayout>
<StackLayout class="float-btn-container">
	<btn_add-event (click)="addPersonalEvent()"></btn_add-event>
</StackLayout>