<StackLayout  orientation="vertical" class="main">
    <StackLayout [visibility]="!isLogin ? 'collapsed' : 'visible'">
        <Image width="25%" #logo class="vod-logo" src="~/app/images/Logo.png"></Image>
        <StackLayout #circle width="100" height="100" class="login-done" orientation="horizontal"></StackLayout>
    </StackLayout>
    
    <StackLayout #content height="100%">
        <StackLayout [visibility]="navigating ? 'collapsed' : 'visible'" orientation="horizontal" class="reg-log-container">
            <Label text="L O G I N" (tap)="setToLogin()" [ngClass]="[isLogin ? 'reg-active' : 'reg-deactive']"></Label>
            <Label text=" | " class="reg-separator"></Label>
            <Label text="R E G I S T R A R" (tap)="setToRegister()" [ngClass]="[!isLogin ? 'reg-active' : 'reg-deactive']"></Label>
        </StackLayout>
    
    
        <StackLayout [visibility]="navigating ? 'collapsed' : 'visible'" orientation="vertical" class="form-container" [ngClass]="[formSubmitted ? 'form-container-submitted' : 'form-container']">
            <StackLayout #login [visibility]="isLogin ? 'visible' : 'collapsed'">
                <TextField  [(ngModel)]="email" hint="Email" class="form-input" textAlignment="center"></TextField>
                <TextField [(ngModel)]="pass" hint="Contraseña" secure="true" class="form-input" textAlignment="center"></TextField>
            </StackLayout>
            <ScrollView #register [visibility]="!isLogin ? 'visible' : 'collapsed'" height="77%">
                <StackLayout orientation="vertical" class="registerForm"> 
                    <label text="Datos básicos" class="titleType"></label>
                    <TextField hint="Email" [(ngModel)]="userData.gmail" class="form-input"></TextField>
                    <TextField hint="Nombre" [(ngModel)]="userData.nombre" class="form-input"></TextField>
                    <TextField hint="Apellidos" [(ngModel)]="userData.apellidos" class="form-input"></TextField>
                    <TextField hint="Teléfono" [(ngModel)]="userData.telefono" class="form-input"></TextField>
                    <TextField hint="Dirección" [(ngModel)]="userData.direccion" class="form-input"></TextField>
                    <TextField hint="Contraseña" [(ngModel)]="userData.pass" secure="true" class="form-input"></TextField>
                    <TextField hint="Confirma la contraseña" secure="true" class="form-input"></TextField>
                    <Button class="profilePicture" (tap)="openCamera()"></Button>
                    <Button (touch)="onFocus($event)" [text]="tipoUsuario == undefined ? 'Elige el tipo de usuario' : tipoUsuario" (tap)="choseTypeUser()" class="tipo-user-button"></Button>
                    <StackLayout [visibility]="tipoUsuario == enumTipoUsuario.Normal ? 'visible' : 'collapsed'">
                        <label class="etiqueta-campo" text="Tu fecha de nacimiento" verticalAlignment="center"></label>
                        <DatePicker verticalAlignment="center"></DatePicker>
                        <TextField hint="Alergias" class="form-input"></TextField>
                    </StackLayout>
                    <StackLayout [visibility]="tipoUsuario == enumTipoUsuario.Empresa ? 'visible' : 'collapsed'">
                        <label class="etiqueta-campo" text="¿Tu trabajo admite desplazamientos?"></label>
                        <DropDown
                            [items]="items"
                            [(ngModel)]="selectedIndex"
                            class="dropDown"
                        ></DropDown>
                        <Button (touch)="onFocus($event)" [text]="selectedCategory == 0 ? 'Escoje tu categoria' : categorys[selectedCategory - 1].nombre" (tap)="choseCategory()" class="tipo-user-button"></Button>
                        <label (tap)="verHorarios = !verHorarios" class="etiqueta-campo" [text]="'Tus horarios ' + (!verHorarios ? '↓' : '↑')"></label>
                        <StackLayout [visibility]="verHorarios && userEmpresa.periodos.length > 0 ? 'visible' : 'collapsed'">
                            <StackLayout *ngFor="let dia of enumDias">
                                    <label [text]="dia" class="dia-horario"></label>
                                    <StackLayout *ngIf="searchPeriodsByDay(dia).length > 0">
                                        <GridLayout columns="125, 125" rows="*" *ngFor="let perido of searchPeriodsByDay(dia)" class="perido-horario">
                                            <Label [text]="'*' + perido.empiezaHora + ':' + perido.empiezaMinuto" row="0" col="0" class="td"></Label>
                                            <Label [text]="'*' + perido.acabaHora + ':' + perido.acabaMinuto" row="0" col="1" class="td"></Label>
                                        </GridLayout>
                                    </StackLayout>
                                    <StackLayout *ngIf="searchPeriodsByDay(dia).length == 0" class="hr">
                                    </StackLayout>
                            </StackLayout>
                        </StackLayout>
                        <Button (touch)="onFocus($event)" text="+" (tap)="modalAddHorario.show()" class="tipo-user-button add-button"></Button>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
            <Button (touch)="onFocus($event)" #btn text="{{loginTxt}}" (tap)="onButtonTap()" class="form-button"></Button>
        </StackLayout>
    </StackLayout>
</StackLayout>

<StackLayout style.zIndex="999" #modalChoseCategory modal size="md" alignment="middle" dismissable="true" duration="100">
    <StackLayout borderRadius="10" rows="*, auto" class="p-t-15 bg-white">

        <DropDown
            [items]="categorysNames"
            [(ngModel)]="selectedCategory"
            class="dropDown"
        ></DropDown>
        <Button (touch)="onFocus($event)" text="Nueva categoría" (tap)="modalNewCategory.show()" class="tipo-user-button"></Button>

        <WrapLayout class="m-y-2 m-r-15 pull-right">
            <Label (tap)="modalChoseCategory.hide()" text="Aceptar" class="m-y-10 p-10 text-cancel"></Label>
        </WrapLayout>
    </StackLayout>
</StackLayout>

<StackLayout style.zIndex="999" #modalNewCategory modal size="md" alignment="middle" dismissable="true" duration="100">
    <StackLayout borderRadius="10" rows="*, auto" class="p-t-15 bg-white">

        <TextField hint="Nombre de la categoria" [(ngModel)]="newCategory.nombre" class="form-input"></TextField>
        <Button (touch)="onFocus($event)" text="Añadir" (tap)="addCategory()" class="tipo-user-button"></Button>

        <WrapLayout class="m-y-2 m-r-15 pull-right">
            <Label (tap)="modalNewCategory.hide()" text="Cancelar" class="m-y-10 p-10 text-cancel"></Label>
        </WrapLayout>
    </StackLayout>
</StackLayout>

<StackLayout style.zIndex="999" #modalAddHorario modal size="md" alignment="middle" dismissable="true" duration="100">
    <StackLayout borderRadius="10" rows="*, auto" class="p-t-15 bg-white">

        <ListPicker row="0" [items]="enumDias" [selectedIndex]="selectedDay" (selectedIndexChange)="selectedIndexChanged($event)" class="p-15 picker" height="300px"></ListPicker>
        
        <StackLayout row="1" *ngIf="periodos" height="300px" orientation="vertical">
            <ScrollView orientation="vertical" *ngIf="periodos.length > 0" height="100%">
                <StackLayout>
                    <GridLayout columns="110, 110" rows="*">
                        <Label text="Inicia" textWrap="true" row="0" col="0" class="th"></Label>
                        <Label text="Acaba" textWrap="true" row="0" col="1" class="th"></Label>
                    </GridLayout>
                    <GridLayout columns="110, 110, 110" rows="*" *ngFor="let perido of periodos; let i = index">
                        <Label [text]="perido.empiezaHora + ':' + perido.empiezaMinuto" row="0" col="0" class="td"></Label>
                        <Label [text]="perido.acabaHora + ':' + perido.acabaMinuto" row="0" col="1" class="td"></Label>
                        <Label text="x" (tap)="eliminarPeriodo(i)" row="0" col="2" class="td"></Label>
                    </GridLayout>
                </StackLayout>
            </ScrollView>
        </StackLayout>

        <Button (touch)="onFocus($event)" text="+" class="tipo-user-button add-button" (tap)="modalAddHorario.hide(); modalNewPeriodo.show()"></Button>

        <WrapLayout class="m-y-2 m-r-15 pull-right">
            <Label (tap)="modalAddHorario.hide()" text="Aceptar" class="m-y-10 p-10 text-cancel"></Label>
        </WrapLayout>
    </StackLayout>
</StackLayout>

<StackLayout style.zIndex="999" #modalNewPeriodo modal size="md" alignment="middle" dismissable="true" duration="100">
    <StackLayout borderRadius="10" rows="*, auto" class="p-t-15 bg-white">
        <label [text]="'Perido para el dia ' + this.enumDias[this.selectedDay]" class="label-dia-selected"></label>

        <label text="Inicia" class="label-dia"></label>
        <TimePicker #horaInicio (timeChange)="onTimeChangedInicio($event)" height="400px"></TimePicker>
        <label text="Acaba" class="label-dia"></label>
        <TimePicker #horaFin (timeChange)="onTimeChangedFin($event)" height="400px"></TimePicker>

        <WrapLayout class="m-y-2 m-r-15 pull-right">
            <Label (tap)="modalNewPeriodo.hide(); modalAddHorario.show()" text="Cancelar" class="m-y-10 p-10 text-cancel"></Label>
            <Label text="Aceptar" (tap)="addNewHorario()" class="m-y-10 p-10 text-cancel"></Label>
        </WrapLayout>
    </StackLayout>
</StackLayout>