<StackLayout orientation="vertical" class="main">
	<Image #logo width="25%" class="vod-logo" src="~/app/images/Logo.png"></Image>
	<StackLayout #circle width="100" height="100" class="login-done" orientation="horizontal"></StackLayout>

    <StackLayout #content>
        <StackLayout [visibility]="navigating ? 'collapsed' : 'visible'" orientation="horizontal" class="reg-log-container">
            <Label text="L O G I N" (tap)="setToLogin()" [ngClass]="[isLogin ? 'reg-active' : 'reg-deactive']"></Label>
            <Label text=" | " class="reg-separator"></Label>
            <Label text="R E G I S T R A R" (tap)="setToRegister()" [ngClass]="[!isLogin ? 'reg-active' : 'reg-deactive']"></Label>
        </StackLayout>
    
    
        <StackLayout [visibility]="navigating ? 'collapsed' : 'visible'" orientation="vertical" class="form-container" [ngClass]="[formSubmitted ? 'form-container-submitted' : 'form-container']">
            <StackLayout #login [visibility]="isLogin ? 'visible' : 'hidden'">
                <TextField  [(ngModel)]="email" hint="Email" class="form-input" textAlignment="center"></TextField>
                <TextField [(ngModel)]="pass" hint="Contraseña" secure="true" class="form-input" textAlignment="center"></TextField>
            </StackLayout>
            <ScrollView #register [visibility]="!isLogin ? 'visible' : 'hidden'" height="280">
                <StackLayout orientation="vertical" class="registerForm"> 
                    <label text="Datos básicos" class="titleType"></label>
                    <TextField hint="Email" [(ngModel)]="userData.gmail" class="form-input"></TextField>
                    <TextField hint="Nombre" [(ngModel)]="userData.nombre" class="form-input"></TextField>
                    <TextField hint="Apellidos" [(ngModel)]="userData.apellidos" class="form-input"></TextField>
                    <TextField hint="Teléfono" [(ngModel)]="userData.telefono" class="form-input"></TextField>
                    <TextField hint="Dirección" [(ngModel)]="userData.direccion" class="form-input"></TextField>
                    <TextField hint="Contraseña" [(ngModel)]="userData.pass" secure="true" class="form-input"></TextField>
                    <TextField hint="Confirma la contraseña" secure="true" class="form-input"></TextField>
                    <Button class="profilePicture" (tap)="openCamera()"></Button>
                    <Button (touch)="onFocus($event)" [text]="tipoUsuario == undefined ? 'Elige el tipo de usuario' : tipoUsuario" (tap)="choseTypeUser()" class="tipo-user-button"></Button>
                    <StackLayout [visibility]="tipoUsuario == enumTipoUsuario.Normal ? 'visible' : 'collapsed'">
                        <label class="etiqueta-campo" text="Tu fecha de nacimiento" verticalAlignment="center"></label>
                        <DatePicker verticalAlignment="center"></DatePicker>
                        <TextField hint="Alergias" class="form-input"></TextField>
                    </StackLayout>
                    <StackLayout [visibility]="tipoUsuario == enumTipoUsuario.Empresa ? 'visible' : 'collapsed'">
                        <label class="etiqueta-campo" text="¿Tu trabajo admite desplazamientos?"></label>
                        <DropDown #dd
                            [items]="items"
                            [(ngModel)]="selectedIndex"
                            class="si-no"
                        ></DropDown>
                        <Button (touch)="onFocus($event)" text="Escoje tu categoria" (tap)="choseCategory()" class="tipo-user-button"></Button>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
            <Button (touch)="onFocus($event)" #btn text="{{loginTxt}}" (tap)="onButtonTap()" class="form-button"></Button>
        </StackLayout>
    </StackLayout>
</StackLayout>