/* Add mobile styles for the component here.  */
.profilePicture{
    height: 400px;
    width: 400px;
    border-color: black;
    border-width: 2px;
    border-radius: 1000px;
    background-image: url("res://user_pic");
    background-repeat: no-repeat;
    background-position: center;
}

.registerForm {
    width: 85%;
}

.ng-valid[required] {
    border-left-color: #42A948; 
    border-left-width: 3;
  }
  .ng-invalid {
    border-left-color: #a94442; 
    border-left-width: 3;
  }

  .field{
      margin-top: 2%;
  }

  .titleSchedule{
      margin-top: 10%;
      margin-bottom: 10%;
      font-size: 20px;
      text-align: center;
  }

  .titleType {
      text-align: center;
      font-size: 35px;
      padding-bottom: 5%; 
  }